<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731271959355-irjb3e9lglrfu5f6rq99tep0hrs3i4vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731271959355-irjb3e9lglrfu5f6rq99tep0hrs3i4vg</string>
	<key>API_KEY</key>
	<string>AIzaSyAs5ds7UK1Bg9jdVV3tyikGe7VFyxbj4Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>731271959355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterDelivery</string>
	<key>PROJECT_ID</key>
	<string>water-delivery-49569</string>
	<key>STORAGE_BUCKET</key>
	<string>water-delivery-49569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731271959355:ios:5d60364874ce09e96e5d1e</string>
</dict>
</plist>